img {
    border-radius: 50px 50px;
    width: 100px;
    }
    *{
        margin: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    :root{
        --primary: #5E65AB;
        --secundary: #675C60;
        --hover: #5e2130;
        --dark: #29282D;
        --light: #F3EEE8;
    }
    html, body, aside, main, section {
        height: 100%;
        /*text-align: center;*/
    }
    html{
        scroll-behavior: smooth;
    }
    ul:not(.menu-list){
        padding: 0;
    }

    /*SECTION*/
    section{
        max-width: 900PX;
        padding: 5% 0 0 300PX;
    }
    /*Section Home*/
    #home .section-title {
        font-size: 56px;
    }
    .section-description{
        margin: 10px 0;
        font-size: 18px;
        line-height: 1.3;
    }
    #home .email-link {
        text-transform: uppercase;
        color: var(--primary);
        text-decoration: none;
        text-transform: lowercase;
    }
    .social-links{
        list-style: none;
    }
    .social-links li{
        display: inline-block;
        background-color: green;
        margin-right: 10px;
    }
    .social-links li a{
        padding: 10px;
        display: block;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
        text-decoration: none;
        background-color: var(--primary);

    }
    /* ASIDE WRAP */
    .aside-wrap {
        width: 240px;
        background-image: linear-gradient(to bottom right, var(--primary), black);
        padding: 100px 20px;
        position: fixed;
    }
    .profile-img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
       /* border-style: dashed;/*BORDA DA IMAGEM*/
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,.5);/*sobra da imagem*/
    }
    .aside-wrap .menu-item{
        line-height: 3;
    }
    .aside-wrap .menu-link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
      }
      .aside-wrap .menu-link:hover {
        border-bottom: 2px solid;
      }
    ul{
        list-style: none;
    }
   
    #name{
        font-family: ubuntu, sans-serif;
    }
    
    
    .aside-wrap .menu-link{
        text-decoration: none;
        color: #fff;
    .aside-wrap .menu-list .menu-link{
        color: rgb(64, 64, 64);
        margin-top: 20px;
    }
    body {
     background-color: rgb(51, 21, 21);
     font-family: Trebuchet MS;
     color: white;
    }