img {
    border-radius: 50px 50px;
    width: 100px;
    }
    *{
        margin: 0;
        font-family: sans-serif;
        box-sizing: border-box;
    }
    html, body, aside, main, section {
        height: 100%;
        /*text-align: center;*/
    }
    section{
        margin-left: 300px;
    }
    html{
        scroll-behavior: smooth;
    }

    .aside-wrap {
        width: 240px;
        background-image: linear-gradient(to bottom right, red, black);
        padding: 100px 20px;
        position: fixed;
    }
    .profile-img {
        width: 240px;
        height: 240px;
        border-radius: 5px;
        border-style: dashed;/*BORDA DA IMAGEM*/
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,.5);/*sobra da imagem*/
    }
    ul{
        list-style: none;
    }
    .aside-wrap .menu-item{
        line-height: 3;
    }
    #name{
        font-family: ubuntu, sans-serif;
    }
    
    .aside-wrap .menu-link:hover {
        border: 5px solid black; 
        text-decoration: underline;
    }
    .aside-wrap .menu-link{
        text-decoration: none;
        color: #fff;
    .aside-wrap .menu-list .menu-link{
        color: rgb(64, 64, 64);
        margin-top: 20px;
    }
    body {
     background-color: rgb(51, 21, 21);
     font-family: Trebuchet MS;
     color: white;
    }
    
     