img {
    border-radius: 50px 50px;
    width: 100px;
    }
    html, body, aside {
        height: 100%;
        text-align: center;
    }
    .aside-wrap {
        width: 240px;
        background-image: linear-gradient(to bottom right, red, black);
    }
    ul{
        list-style: none;
    }
    /*.aside-wrap .menu-item{
        line-height: 3;

    }*/
    .aside-wrap .menu-link {
     background-color: white;
     font-size: 20px;
     border-radius: 10px;
     padding: 5px;
     display: block;
     text-align: center;
     text-decoration: none;
     font-weight: bold;
     margin: 20px;
     margin-right: 60px;
    }
    .aside-wrap .menu-link:hover {
        border: 5px solid black;
    
    /*text-decoration: underline;*/

    }
    /*.aside-wrap .menu-link{
        text-decoration: none;
        color: #fff;*/
    /*.aside-wrap .menu-list .menu-link{
        color: rgb(64, 64, 64);
    }
    body {
     background-color: rgb(51, 21, 21);
     font-family: Trebuchet MS;
     color: white;
     
    }
    
     